page-planting {
          .transparent-body {
                    background: none transparent !important;
                    opacity: 0 !important;
                  }
}
.transparent-body {
          background: none transparent !important;
          opacity: 0 !important;
        }