<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Setor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card padding>

    <h2>
    {{this.data.area}}-{{this.data.line}}
    </h2>
    <code>área {{this.data.area}} do {{this.data.line}}° circulo </code>
    <br>
    <ion-badge *ngIf="this.data.enabled == true" color="secondary">habilitado</ion-badge>
    <ion-card-content>
      <div *ngFor="let item of this.data.sets">
        <small><b>{{(item.crop).toUpperCase()}}({{item.planting_date}})</b></small>
        <br>
        <small *ngIf="item.harvest_date">{{item.harvest_date}}</small>
        <br>
        <ion-badge *ngIf="item.harvest_date" color="light">colhido</ion-badge>
        <br>
        <br>
      </div>
    </ion-card-content>

  </ion-card>
  <ion-list radio-group [(ngModel)]="action">
    <ion-list-header>
      Setor {{sector_name}}
    </ion-list-header>

    <ion-item>
      <ion-label>Plantar</ion-label>
      <ion-radio checked="true" value="0"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Colher</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Habilitar/Desabilitar</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>

  </ion-list>
  <button ion-button block (click)="next()">Avançar</button>

</ion-content>